/* Your app custom styles here */

.centro{
    margin:auto;
    text-align: center;
}
.centroimg{
    display:block;
    margin:auto;
}
.txt{
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.h2{
    font-size: 20px;
}
.modoOscuro{
    background-color: rgb(31, 31, 39);
    color: white;
}
.modoComun{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#cam{
    width: 100vw;
    height: 50vh;
}
.btnMenu{
    margin-left: 10px;
    font-size: 32px;
}
.margen{
    margin: 20px;
}
#imagen{
    width: 100px;
    height: 100px;
}

.margenDerecho{
      margin-right: 10px;
}

#boton{
      text-align: center;
}