
.centro{
    margin:auto;
    text-align: center;
}
.centroimg{
    display:block;
    margin:auto;
}
.txt{
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.h2{
    font-size: 20px;
}

#cam{
    width: 100vw;
    height: 50vh;
}
.btnMenu{
    margin-left: 10px;
    font-size: 32px;
}
.margen{
    margin: 20px;
}
#imagen{
    width: 100px;
    height: 100px;
}

.margenDerecho{
    margin-right: 10px;
}

#boton{
    text-align: center;
}

.marginTop{
    margin-top: 25px;
}

.centradoReg{
    margin-top: 75px;
}
#guardar{
    width: 60vw;
}
#login{
    width: 70vw;
}
.categorias{
    width: 100vw;
    height: 83.5vh;
}
.largo{
    height: 83.5vh;
    margin: auto;
}
.cuadrado{
    width: 155px;
    height: 155px;
    border-radius: 25px;
    align-items: center;  
}

.banco{
    background-image: url(../imagenes/banco.jpg);
    background-size: cover;
    position: relative;
}
.banco:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(10, 49, 22);
    position: absolute;
    opacity: 0.4;
    display: flex;
}

.bar{
    background-image: url(../imagenes/bar.jpg);
    background-size: cover;
    position: relative;
}
.bar:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(93, 38, 156, 0.849);
    position: absolute;
    opacity: 0.4;
    display: flex;
}

.verduleria{
    background-image: url(../imagenes/verduleria.jpg);
    background-size: cover;
    position: relative;
}
.verduleria:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(83, 95, 16, 0.849);
    position: absolute;
    opacity: 0.4;
    display: flex;
}

.ypf{
    background-image: url(../imagenes/ypf.jpg);
    background-size: cover;
    position: relative;
}
.ypf:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(4, 92, 80, 0.849);
    position: absolute;
    opacity: 0.4;
    display: flex;
}

.super{
    background-image: url(../imagenes/super.jpg);
    background-size: cover;
    position: relative;
}
.super:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(1, 31, 48);
    position: absolute;
    opacity: 0.4;
    display: flex;
}

.casino{
    background-image: url(../imagenes/casino.jpg);
    background-size: cover;
    position: relative;
}
.casino:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(226, 147, 73, 0.849);
    position: absolute;
    opacity: 0.4;
    display: flex;
}

.cuadrado h2{
    color: white;
    position: relative;
    margin: 0;
    -webkit-text-stroke: 0.4px black;
    font-size: 26px;
}
.activo{
    background-color: rgb(29, 79, 187);
}

.visible{
    display: block;
    visibility: visible;
}
.oculta{
    display: none;
    visibility: hidden;
}

.fondoPanel{
    width: 100vw;
    height: 20vh;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    position: relative;
}

#setNombre{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    color: white;
}

.navBar{
    background-color: teal;
}

.marginServicios{
    margin: 10px;
}